*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 10px 50px;
    text-align: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
}
nav ul li a:hover{
    background-color: gray;
    color: white;
    border-radius: 5px;
}